@CHARSET "UTF-8";
#subcontent{
	border: 1px solid gray;
	text-align: center;
}
#tableform{
	margin-top: 20px;
}
td.leftCol{
	text-align: right;
}
td.rightCol{
	text-align: left;
}
#left{	
	width: 100px;
	float: left;
}
#right{
	margin-left:200px;
	padding:10px 5px 10px 10px;
	border-left: 1px dotted gray;	
}