@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}
html body{
	width:100%;
}
.a_link{
	color: white;
	float:right;
	padding-right: 10px;
	text-decoration: none;
}
.a_button{
	color:white;
	background: #921;
	padding: 3px;
	text-decoration: none;
}
.link_bar{
	width: 100%;
	height: 28px;
	background:url("/cms-web/resources/img/nav_title_bg.png") repeat-x;
}
.admin_link_bar{
	width: 100%;
	height: 28px;
	float:right;
	background:url("/cms-web/resources/img/nav_title_bg.png") repeat-x;
}
#content{
	width:100%;
}
table{
	width: 95%;
	margin: auto;
	padding:15px 10px 5px 10px;
	font-size:12px;
	border-top:1px solid #999;
	border-left:1px solid #999;
}
tr{
	height:100%;
	width:100%;
	margin: 0px;
	padding: 0px;
	border: 1px solid #999;

}
td.head{
	color: white;
	background:#336d9b;
	margin: auto;
	font-size: 12px;
	line-height: 29px;
}
td{
	font-size: 10px;
	line-height: 25px;
	padding-left:5px;
	margin: 0px;
	border: 1px solid #999;
}
tr:nth-child(even){
	background: #E0DFEF;
}
table tr td {
	padding:6px;
	padding-right:0px;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
table thead td{
	background:#336d9b;
	color:#fff;
	margin:0px;
}